<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-697">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">FREE CONSULTATIONS & SECOND OPINIONS</span>
            <h2 class="cs-title">CALL US TODAY</h2>
            <div class="cs-button-group">
                <div class="cs-button-item">
                    <span class="cs-button-group-text">Belleville</span>
                    <a href="tel:{{ client.phoneForTel }}" class="cs-button-solid">{{ client.phoneFormatted }}</a>
                </div>
                <div class="cs-button-item">
                    <span class="cs-button-group-text">East St. Louis</span>
                    <a href="tel:{{ client.phoneForTel2 }}" class="cs-button-solid">{{ client.phoneFormatted2 }}</a>
                </div>
            </div>
        </div>
    </div>
</section>
                                