<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <!--Nav Logo-->
    <a href="/" class="cs-logo" aria-label="Return to {{ client.name }} Home page">
        <img src="https://csimg.nyc3.digitaloceanspaces.com/Footer/logo-light.svg" alt="" width="210" height="29" aria-hidden="true" decoding="async">
    </a>
    <!--Top Bar-->
    <ul class="cs-top-bar">
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fphone-stroke-green.svg" alt="" width="24" height="24" aria-hidden="true"
                    decoding="async">
            </picture>
            <div class="cs-flex">
                <span class="cs-header">Call Us Now</span>
                <a href="tel:{{ client.phone }}" class="cs-link">{{ client.phoneFormatted }}</a> <a href="tel:{{ client.phone2 }}" class="cs-link">{{ client.phoneFormatted2 }}</a>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fmail-stroke-green.svg" alt="" width="24" height="24" aria-hidden="true"
                    decoding="async">
            </picture>
            <div class="cs-flex">
                <span class="cs-header">Send A Message</span>
                <a href="mailto:{{ client.email }}" class="cs-link">{{ client.email }}</a>
            </div>
        </li>
        <li class="cs-item cs-remove">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fpin-stroke-green.svg" alt="" width="24" height="24" aria-hidden="true"
                    decoding="async">
            </picture>
            <div class="cs-flex">
                <span class="cs-header">Visit Us</span>
                <a href="https://maps.google.com/?q={{ client.address.lineOne }}+{{ client.address.city }}+{{ client.address.state }}+{{ client.address.zip }}" class="cs-link" target="_blank" rel="noopener noreferrer">
                    {{ client.address.lineOne }} {{ client.address.city }} {{ client.address.state }} {{ client.address.zip }}
                </a>
                <a href="https://maps.google.com/?q={{ client.address2.lineOne }}+{{ client.address2.city }}+{{ client.address2.state }}+{{ client.address2.zip }}" class="cs-link" target="_blank" rel="noopener noreferrer">
                    {{ client.address2.lineOne }} {{ client.address2.city }} {{ client.address2.state }} {{ client.address2.zip }}
                </a>
            </div>
        </li>
    </ul>
    <div class="cs-bottom-bar">
        <!--Navigation List-->
        <nav class="cs-nav" aria-label="main navigation">
            <!--Mobile Nav Toggle-->
            <button class="cs-toggle" id="cs-toggle" aria-expanded="false" aria-controls="cs-ul-wrapper" aria-label="mobile menu toggle" aria-haspopup="menu">
                <span class="cs-box" aria-hidden="true">
                    <span class="cs-line cs-line1"></span>
                    <span class="cs-line cs-line2"></span>
                    <span class="cs-line cs-line3"></span>
                </span>
            </button>
            <div class="cs-ul-wrapper" id="cs-ul-wrapper">
                <ul class="cs-ul">
                    <li class="cs-li">
                        <!-- cs-active and aria-current="page" are hard-coded and must instead be managed dynamically via Eleventy templating -->
                        <a href="/" class="cs-li-link cs-active" aria-current="page">
                            Home
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/about/" class="cs-li-link">
                            About
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/services/" class="cs-li-link">
                            Services
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/weight-loss/" class="cs-li-link">
                            Weight Loss
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="" class="cs-li-link">
                            Aesthetics
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="" class="cs-li-link">
                            FAQ
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <a href="" class="cs-button-solid cs-nav-button">SCHEDULE AN APPOINTMENT</a>
    </div>
</header>
                                