---
description: "Meta description for the page"
image: "OPTIONAL - If an image path is specified here, it will be used for that page's OG image. Useful for blog posts (implemented as standard with this kit)"
eleventyComputed:
  title: "{{ page.fileSlug | titleCase }} | {{ client.name }} | {{ client.address.city }}, {{ client.address.state }}"
  permalink: "/{{ page.fileSlug | slugify }}/"
---


{% extends "layouts/base.html" %}

{% block head %}
    
    <link rel="stylesheet" href="/assets/css/{{ page.fileSlug }}.css">

    <!-- Any page-specific tags that belong in the <head> -->


{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-712">
    <div class="cs-container">
        <span class="cs-int-title">ABOUT</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/spine.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/spine.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/spine.jpg" alt="model spine at Kaesberg Chiropractic" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->


<section id="content-page-852">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">WHO WE ARE</span>
            <h1 class="cs-title">PROFESSIONAL CHIROPRACTIC CARE IN <span class="cs-color">BELLEVILLE</span> & <span class="cs-color">EAST ST. LOUIS</span></h1>
            <p>
                At Kaesberg Chiropractic Clinic PC, we are committed to the health and vitality of our patients. Our goal is always to treat your health issues and alleviate aches and pains naturally through <a href="/chiropractic-care/">chiropractic care</a> and <a href="/physical-therapy/">physical therapy</a>. Our knowledgeable doctors and friendly staff members can help you relieve pain from accidental injuries, sports injuries and more.
            </p>
            <p>
                Dr. Kendra Kaesberg-White and Dr. James White have owned and operated Kaesberg Chiropractic Clinic PC since 1984. They met in college, married in 1985 and have three children: Benjamin, Michelle and Bruce. They have continued the family atmosphere established in 1950 by Dr. Kendra’s father, Dr. Norman T. Kaesberg, who was a licensed chiropractor, physical therapist and acupuncturist. Additionally, Dr. Kaesberg-White and Dr. White have co-authored five published articles. Dr. Kaesberg-White and Dr. White have co-authored 5 published articles.
                <br><br>
                Our practice has two convenient locations in Belleville and East St. Louis. Additionally, we have been associated with the American Spine Center since 2003.
            </p>
        </div>
        <div class="cs-image-group">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/about.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/about.jpg">
                <img decoding="async" src="/assets/images/about.jpg" alt="person" width="542" height="520" aria-hidden="true">
            </picture>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<section id="meet-team-1141">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Our Expert Team</span>
                <h2 class="cs-title">MEET YOUR DOCTOR</h2>
                <p>
                    Dr. Kendra Kaesberg-White attended Creighton University studying health sciences and Logan College of Chiropractic where she received a Bachelor’s Degree in Human Biology and a Doctorate of Chiropractic. Her areas of interest include geriatric care (elderly), pediatric care (children), neurodevelopment and yoga.
                    <br><br>
                    <h4>Licenses and Certifications</h4>
                    <br>
                    <ul class="cs-list" style="margin-left: 35px;">
                        <li>Licensed in the State of Illinois - since 1984</li>
                        <li>National Board Certifications: Basic Science, Clinical Science and Physical Therapy</li>
                        <li>Certified in the Listening Program</li>
                    </ul>
                </p>
            </div>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/DrKendra.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/DrKendra.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/DrKendra.jpg" alt="Dr. Kendra Kaesberg-White" width="305" height="407">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Dr. Kendra Kaesberg-White</span>
                    <span class="cs-job">Chiropractic Doctor</span>
                </div>
            </li>
        </ul>
    </div>
</section>


                                
                                
                                
                                

    
     {% include 'sections/cta.html' %}

{% endblock %}




