/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-446 {
        /* Centers tag */
        text-align: center;
        /* 144px - 300px - leaving extra space for the navigation */
        padding: clamp(9rem, 25.95vw, 19.75rem) (16/16rem) 0;
        padding-bottom: 0;
        position: relative;
        z-index: 1;

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;

            &:before {
                /* Overlay */
                content: "";
                width: 100%;
                height: 100%;
                background: #1a1a1a;
                mix-blend-mode: multiply;
                opacity: 0.4;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 1;
                /* prevents the cursor from interacting with it */
                pointer-events: none;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            /* 80px - 120px */
            gap: clamp(5rem, 10vw, 7.5rem);
        }

        .cs-content {
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .cs-tag {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            /* 30px - 44px */
            line-height: clamp(1.875rem, 4vw, 2.75rem);
            text-align: center;
            text-transform: uppercase;
            /* 12px - 20px */
            padding: 0 clamp(0.75rem, 1.6vw, 1.25rem);
            /* 12px - 20px */
            margin-bottom: clamp(0.75rem, 2vw, 1.25rem);
            color: var(--bodyTextColorWhite);
            border: 1px solid var(--bodyTextColorWhite);
            background: rgba(250, 251, 252, 0.2);
            -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
            border-radius: (30/16rem);
            /* prevents border from affecting height and width */
            box-sizing: border-box;
            display: inline-block;
        }

        .cs-title {
            /* 31px - 61px */
            font-size: clamp(1.9375rem, 6.4vw, 3.8125rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: center;
            max-width: (829/16rem);
            /* 16px - 24px */
            margin: 0 auto clamp(1rem, 4vw, 1.5rem) 0;
            color: var(--bodyTextColorWhite);
            position: relative;
        }

        .cs-text {
            /* 16px - 20px */
            font-size: clamp(1rem, 1.95vw, 1.25rem);
            line-height: 1.5em;
            text-align: center;
            width: 100%;
            /* 464px - 622px */
            max-width: clamp(29rem, 60vw, 38.785rem);
            margin: 0;
            color: var(--bodyTextColorWhite);
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            background-color: #fff;
            filter: drop-shadow(0px 24px 54px rgba(87, 107, 147, 0.12));
            /* 12px - 24px */
            border-radius: clamp(0.75rem, 2vw, 1.5rem)
                clamp(0.75rem, 2vw, 1.5rem) 0 0;
            display: flex;
            justify-content: center;
            align-items: stretch;
            flex-wrap: wrap;
        }

        .cs-item {
            list-style: none;
            width: 50%;
            margin: 0;
            /* 16px - 48px top and bottom */
            /* 12px - 110px top and bottom */
            padding: clamp(1rem, 3.7vw, 3rem) clamp(0.75rem, 3vw, 6.875rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            border-right: 1px solid #dcdcdd;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            &:nth-of-type(2) {
                border: none;
            }
            &:last-of-type {
                width: 100%;
                border-top: 1px solid #dcdcdd;
                border-right: none;
            }
        }

        .cs-number {
            /* 31px - 61px */
            font-size: clamp(1.9375rem, 4vw, 3.8125rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: center;
            color: var(--primary);
            margin: 0 0 (4/16rem) 0;
            display: block;
        }

        .cs-desc {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.2em;
            font-weight: 400;
            text-align: center;
            max-width: (200/16rem);
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
        }
    }
}

/* In-Between - 650px */
@media only screen and (min-width: 40.625rem) {
    #hero-446 {
        .cs-card-group {
            flex-wrap: nowrap;
        }

        .cs-item {
            width: 33.33%;
            &:nth-of-type(2) {
                border-right: 1px solid #dcdcdd;
            }
            &:last-of-type {
                width: 33.33%;
                border: none;
            }
        }
    }
}

/*-- -------------------------- -->
<---       Why Choose Us        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #why-choose-12 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: (60/16rem);
        }

        .cs-item {
            text-align: center;
            list-style: none;
            width: 100%;
            max-width: (360/16rem);
            margin: 0;
            padding: 0;
        }

        .cs-picture {
            /* 68px - 88px */
            width: clamp(4.25rem, 7vw, 5.5rem);
            height: clamp(4.25rem, 7vw, 5.5rem);
            margin: auto;
            margin-bottom: (32/16rem);
            border-radius: 50%;
            background-color: var(--primary);
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: auto;
                height: (42/16rem);
                display: block;
            }
        }

        .cs-h3 {
            font-size: (20/16rem);
            line-height: 1.2em;
            text-align: inherit;
            font-weight: 700;
            text-transform: uppercase;
            margin: 0;
            margin-bottom: (8/16rem);
            color: var(--headerColor);
        }

        .cs-item-text {
            font-size: (16/16rem);
            text-align: inherit;
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #why-choose-12 {
        .cs-card-group {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

                                

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-r-869 {
        padding: var(--sectionPadding);
        /* clips overlapping cs-image-group */
        overflow: hidden;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (522/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-title {
            /* 20 characters wide including spaces */
            max-width: 20ch;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-ul {
            margin: 0 0 (32/16rem) 0;
            padding: 0;
            columns: 2;
        }

        .cs-li {
            list-style: none;
            margin: 0 0 (8/16rem) 0;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: (12/16rem);
            position: relative;

            &:before {
                /* accent shape */
                content: "";
                width: (8/16rem);
                height: (8/16rem);
                margin-top: (8/16rem);
                background: #bababa;
                border-radius: (4/16rem) 0 (4/16rem) 0;
                display: block;
                /* prevents flexbox from squsihing it */
                flex: none;
            }
        }

        .cs-image-group {
            /* using ems so we can scale the whole section using a font size min/max. Font size (.61em) max changes at desktop */
            font-size: ~"min(1.61vw, .61em)";
            width: (898/16em);
            height: (814/16em);
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            position: relative;

            &:before {
                /* accent shape */
                content: "";
                width: (299/16em);
                height: (234/16em);
                background: #fbcebd;
                border-radius: 0 (100/16em) 0 (100/16em);
                opacity: 1;
                position: absolute;
                display: block;
                bottom: 0;
                left: (459/16em);
            }
        }

        .cs-left-img {
            width: (439/16em);
            height: (560/16em);
            border-radius: (200/16em) 0 (200/16em) 0;
            /* clips img corners */
            overflow: hidden;
            display: block;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                /* flips it horizontally the opposite of the parent. This way images have the same orientation as the source image */
                transform: scaleX(-1);
            }
        }

        .cs-right-img {
            width: (439/16em);
            height: (560/16em);
            border-radius: 0 (200/16em) 0 (200/16em);
            /* clips img corners */
            overflow: hidden;
            display: block;
            transform: translateY(6.25em);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                /* flips it horizontally the opposite of the parent. This way images have the same orientation as the source image */
                transform: scaleX(-1);
            }
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-r-869 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
        }

        .cs-image-group {
            font-size: ~"min(.8vw, 1em)";
            /* prevents flexbox from squishing it */
            flex: none;
            order: 2;
        }
    }
}

/* Large Desktop 1500px */
@media only screen and (min-width: 93.75rem) {
    #sbs-r-869 {
        .cs-container {
            justify-content: flex-end;
        }

        .cs-image-group {
            font-size: inherit;
            /* The cs-image-group is actually REALLY big. It's so big, the design has it overlapping the normal 1280px container by 220px.  This is just a design choice that "breaks" the container and creates a more dynamic design and website. */
            transform: translateX(13.75rem);
        }

        .cs-content {
            /* we absolutely position the cs-content so the cs-image-group can remain position relative and dictate the height of the section. Since the cs-content is smaller in height, if it remained relative then the height of the container would only be as tall as the .cs-content and the absolutely positioned cs-image-group would overlap into the top and bottom neiboring sections. */
            flex: none;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }
}

/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-881 {
        /* centers buttons */
        text-align: center;
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (522/16rem);
            margin-right: auto;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-title {
            /* max width of 18 characters, includes spaces between words */
            max-width: 18ch;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: (20/16rem);
        }

        .cs-item {
            text-align: center;
            list-style: none;
            border-radius: (16/16rem);
            overflow: hidden;
            background-color: #f7f7f7;
            grid-column: span 4;
            position: relative;
            z-index: 1;
            transition:
                box-shadow 0.3s,
                transform 0.3s;

            &:hover {
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                .cs-picture {
                    img {
                        opacity: 0.3;
                        transform: scale(1.1);
                    }
                }
                .cs-h3 {
                    color: var(--primaryLight);
                }
            }
        }

        .cs-link {
            text-decoration: none;
            padding: 0 0 (20/16rem) 0;
            display: block;
        }

        .cs-picture {
            width: 100%;
            height: (200/16rem);
            margin-bottom: (20/16rem);
            background-color: var(--primaryLight);
            /* clips the img tag corners */
            overflow: hidden;
            display: block;
            position: relative;
            z-index: 10;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition:
                    transform 0.6s,
                    opacity 0.3s;
            }
        }

        .cs-h3 {
            font-size: (20/16rem);
            text-align: inherit;
            line-height: 1.2em;
            font-weight: 700;
            color: var(--headerColor);
            margin: 0 0 (12/16rem) 0;
            /* 16px - 24px */
            padding: 0 clamp(1rem, 2vw, 1.5rem);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px  */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            text-align: inherit;
            line-height: 1.5em;
            color: var(--bodyTextColor);
            margin: 0;
            padding: 0 (20/16rem);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-881 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-item {
            grid-column: span 2;
        }
    }
}

/* Desktop - 1200px */
@media only screen and (min-width: 75rem) {
    #services-881 {
        .cs-container {
            flex-direction: row;
            justify-content: space-between;
        }

        .cs-content {
            margin: 0;
        }

        .cs-card-group {
            width: 50%;
            max-width: (630/16rem);
            /* offsets by the same amount the cards are translated */
            margin-bottom: (60/16rem);
            grid-template-columns: repeat(2, 1fr);
            /* sends it to the left in the 1st position */
            order: -1;
        }

        .cs-item {
            grid-column: span 1;
            &:nth-of-type(1),
            &:nth-of-type(3) {
                transform: translateY(3.75rem);
            }
        }
    }
}


/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-1452 {
        padding: var(--sectionPadding);
        padding-bottom: 14vw;
    
        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: (542/16rem);
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cs-title {
            max-width: 20ch;
        }

        .cs-quote {
            /* 48px - 72px */
            width: clamp(3rem, 7vw, 4.5rem);
            height: auto;
            /* 28px - 48px */
            margin: 0 0 (32/16rem) 0;
        }

        .cs-card-group {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 16px - 20px */
            gap: clamp(1rem, 2.75vw, 1.25rem);
            max-width: (650/16rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            margin: 0;
            /* 20px - 40px top & bottom */
            /* 20px - 40px left & right */
            padding: clamp(1.5rem, 3.15vw, 2rem);
            background-color: #f7f7f7;
            border-radius: (24/16rem);
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
        }

        .cs-review {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.6vw, 1rem);
            line-height: 1.5em;
            margin: 0 0 (28/16rem) 0;
            color: var(--bodyTextColor);
        }

        .cs-flex-group {
            /* this margin top auto will push everything up and force the cs-flex-group to the bottom of the container. This is to account for review cards with different heights because of more or less text and makes the cards more responsive to changing text */
            margin-top: auto;
            display: flex;
            align-items: flex-start;
            gap: (12/16rem);
        }

        .cs-profile {
            width: (50/16rem);
            height: auto;
            border: 4px solid #fff;
            border-radius: 50%;
            /* clips image corners to make circle */
            overflow: hidden;
            position: relative;
            display: block;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes the image behave like a background image */
                object-fit: cover;
            }
        }

        .cs-name {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.3vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
            margin-top: auto;
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.6vw, 1rem);
            line-height: 1.5em;
            font-weight: 400;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #reviews-1452 {
        .cs-container {
            flex-direction: row;
        }

        .cs-content {
            text-align: left;
            width: 45%;
            align-items: flex-start;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-card-group {
            width: 100%;
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #reviews-1452 {
        .cs-content {
            max-width: (552/16rem);
            align-items: flex-start;
            text-align: left;
        }
    }
}
                                

