---
title: "Welcome"
description: "Your new website"
permalink: "/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Critical styles are loaded first -->
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- If we're in production, defer the rest of the home page styles. In development, always load it. Otherwise the site will break when hot-reload is used. -->
    {% if client.isProduction %}
        <link rel="preload" href="/assets/css/local.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link rel="stylesheet" href="/assets/css/local.css">
        </noscript>

    {% else %}
        <link rel="stylesheet" href="/assets/css/local.css"/>
    {% endif %}

    <!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
    <!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
    <!-- {% include "components/home-schema.html" %} -->
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-446">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-tag">FREE CONSULTATIONS</span>
            <h1 class="cs-title">YOUR LOCAL CHIROPRACTIC PROFESSIONALS</h1>
            <p class="cs-text">
                Kaesberg Chiropractic is a family-owned and operated chiropractic clinic, specializing in accident and injury care, that has been serving the communities of Belleville, East St. Louis, and surrounding areas for over 75 years.
        </div>
        <!--Stats Section-->
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-number">75</span>
                <span class="cs-desc">Years of Serving</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">1950</span>
                <span class="cs-desc">Year Founded</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">2</span>
                <span class="cs-desc">Convenient Locations</span>
            </li>
        </ul>
    </div>
    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/spine.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/spine.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/spine.jpg" alt="Kaesberg Chiropractic Sign" width="1920" height="1000" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                 Why Choose                   -->
<!-- ============================================ -->

<section id="why-choose-12">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Experienced</span>
            <h2 class="cs-title">WHY CHOOSE US</h2>
            <p class="cs-text">
                Since 1950, Kaesberg Chiropractic Clinic PC has been helping patients recover from back issues and other health problems using the latest and best chiropractic techniques.
                <br><br>
                We have two conveniently located offices in Belleville and East St. Louis, IL. Contact either one to schedule your <strong>FREE</strong> consultation and get started on the road to healing.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/sheild.svg" alt="heart icon" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">EXPERIENCED STAFF</h3>
                <p class="cs-item-text">
                    Our team of licensed chiropractors brings decades of experience to every patient, ensuring the highest quality of care.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="/assets/svgs/insurance.svg" alt="invoice icon" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">INSURANCE COVERAGE</h3>
                <p class="cs-item-text">
                    We accept most insurance plans including Illinois Workers' Compensation and attorney letters of protection from auto accidents. 
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="/assets/svgs/calendar-check.svg" alt="calendar check icon" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">SAME DAY APPOINTMENTS</h3>
                <p class="cs-item-text">
                    We understand that your time is valuable, which is why we offer same-day appointments for most patients. 
                </p>
            </li>
        </ul>
        <a href="" class="cs-button-solid">FREE CONSULTATION</a>
    </div>
</section>

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-881">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">SERVICES</span>
            <h2 class="cs-title">PROFESSIONAL CHIROPRACTIC CARE</h2>
            <p class="cs-text">
                At Kaesberg Chiropractic Clinic PC, we offer a wide range of chiropractic services to help you find relief from pain and improve your overall health and well-being. Our experienced chiropractors will work with you to develop a personalized treatment plan that addresses your specific needs and goals.
            </p>
            <p class="cs-text">
                Whether you're dealing with back pain, neck pain, headaches, or other musculoskeletal issues, we have the expertise and technology to help you find relief. Our services include chiropractic adjustments, spinal decompression therapy, physical therapy, class IV laser therapy, and more.
            </p>
            <a href="/services/" class="cs-button-solid">VIEW ALL</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/accidents-and-injuries/" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy2.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy2.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy2.jpg" alt="therapy" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3">Accidents & Injuries</h3>
                    <p class="cs-item-text">
                        If you've been injured in a car accident or suffered a slip-and-fall or sports injury, turn to our doctors for relief from the pain.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/spinal-decompression/" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy3.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy3.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy3.jpg" alt="therapy" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3">Spinal Decompression</h3>
                    <p class="cs-item-text">
                        Spinal decompression has been proven to be a safe, effective therapy option for spinal compression and herniated discs.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/physical-therapy/" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy4.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy4.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy4.jpg" alt="therapy" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3">Physical Therapy</h3>
                    <p class="cs-item-text">
                        Naturally improve your mobility and ease your aches and pains with physical therapy at Kaesberg Chiropractic Clinic PC!
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/class-iv-laser-therapy/" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy5.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy5.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy5.jpg" alt="therapy" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3">Class IV Laser Therapy</h3>
                    <p class="cs-item-text">
                        This state-of-the-art option uses the latest in laser light therapy technology to stimulate the healing process in your cells.
                    </p>
                </a>
            </li>
        </ul>
    </div>
</section>
                                

<!-- ============================================ -->
<!--            Side By Side Reverse              -->
<!-- ============================================ -->

<section id="sbs-r-869">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Right Image-->
            <picture class="cs-right-img">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy.jpg" alt="therapy" width="439" height="560">
            </picture>
            <!--Left Image-->
            <picture class="cs-left-img">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy6.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy6.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy6.jpg" alt="therapy" width="439" height="560">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">TREATMENT LIST</span>
            <h2 class="cs-title">LIST OF CONDITIONS WE TREAT</h2>
            <p class="cs-text">
                We treat a wide variety of conditions at Kaesberg Chiropractic Clinic PC. If you're experiencing any of the following symptoms, contact us today to schedule your free consultation and find out how we can help you find relief.
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    Back Pain
                </li>
                <li class="cs-li">
                    Headaches
                </li>
                <li class="cs-li">
                    Muscle spasms
                </li>
                <li class="cs-li">
                    Neck pain
                </li>
                <li class="cs-li">
                    Numbness
                </li>
                <li class="cs-li">
                    Soreness or stiffness
                </li>
                <li class="cs-li">
                    Trouble sleeping
                </li>
                <li class="cs-li">
                    Bone spurs
                </li>
                <li class="cs-li">
                    Bulging discs
                </li>
                <li class="cs-li">
                    Disc protrusion
                </li>
                <li class="cs-li">
                    Herniated discs
                </li>
                <li class="cs-li">
                    Osteoarthritis
                </li>
                <li class="cs-li">
                    Carpal Tunnel Syndrome
                </li>
                <li class="cs-li">
                    Tendonitis
                </li>
                <li class="cs-li">
                    Hip and knee pain
                </li>
                <li class="cs-li">
                    Ligament sprains
                </li>
                <li class="cs-li">
                    Lower back pain
                </li>
                <li class="cs-li">
                    Peripheral Neuropathy
                </li>
            </ul>
            <a href="" class="cs-button-solid">SCHEDULE AN APPOINTMENT</a>
        </div>
    </div>
</section>

                                

                                                  
                                


{% endblock %}
