---
title: "Welcome"
description: "Your new website"
permalink: "/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Critical styles are loaded first -->
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- If we're in production, defer the rest of the home page styles. In development, always load it. Otherwise the site will break when hot-reload is used. -->
    {% if client.isProduction %}
        <link rel="preload" href="/assets/css/local.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link rel="stylesheet" href="/assets/css/local.css">
        </noscript>

    {% else %}
        <link rel="stylesheet" href="/assets/css/local.css"/>
    {% endif %}

    <!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
    <!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
    <!-- {% include "components/home-schema.html" %} -->
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-446">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-tag">FREE CONSULTATIONS</span>
            <h1 class="cs-title">YOUR LOCAL CHIROPRACTIC PROFESSIONALS</h1>
            <p class="cs-text">
                Kaesberg Chiropractic is a family-owned and operated chiropractic clinic, specializing in accident and injury care, that has been serving the communities of Belleville, East St. Louis, and surrounding areas for over 75 years.
        </div>
        
    </div>
    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/kaesberg-hero.png">
        <source media="(min-width: 601px)" srcset="/assets/images/kaesberg-hero.png">
        <img loading="lazy" decoding="async" src="/assets/images/kaesberg-hero.png" alt="Kaesberg Chiropractic Sign" width="1920" height="1000" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                 Why Choose                   -->
<!-- ============================================ -->

<section id="why-choose-12">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">AFFORDABLE & EXPERIENCED</span>
            <h2 class="cs-title">WHY CHOOSE US</h2>
            <p class="cs-text">
                Since 1950, Kaesberg Chiropractic Clinic PC has been helping patients recover from issues caused by car accidents and injuries, back issues, and other health problems using the latest and best chiropractic techniques. In addition to innovative chiropractic care, our services are affordable regardless of your insurance coverage and we accept Illinois Workers' Compensation and attorney letters of protection (liens) from auto accidents.
                <br><br>
                We have two conveniently located offices in Belleville and East St. Louis, IL and we offer same-day appointments for most patients. Contact either one to schedule your <strong>FREE</strong> consultation and get started on the road to healing.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/sheild.svg" alt="heart icon" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">MULTI-DIMENSIONAL CARE</h3>
                <p class="cs-item-text">
                    We use a multi-dimensional approach to help you find relief from pain and improve your overall health and well-being. 
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="/assets/svgs/insurance.svg" alt="invoice icon" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">AFFORDABLE SERVICES</h3>
                <p class="cs-item-text">
                    Our services are affordable and we accept Illinois Workers' Compensation and attorney letters of protection (liens) from auto accidents. 
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="/assets/svgs/calendar-check.svg" alt="calendar check icon" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">SAME DAY APPOINTMENTS</h3>
                <p class="cs-item-text">
                    We understand that your time is valuable, which is why we offer same-day appointments for most patients. 
                </p>
            </li>
        </ul>
        <a href="" class="cs-button-solid">FREE CONSULTATION</a>
    </div>
</section>

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-881">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">SERVICES</span>
            <h2 class="cs-title">PROFESSIONAL CHIROPRACTIC CARE</h2>
            <p class="cs-text">
                At Kaesberg Chiropractic Clinic PC, we offer a wide range of chiropractic services to help you find relief from pain and improve your overall health and well-being. Our experienced chiropractors will work with you to develop a personalized treatment plan that addresses your specific needs and goals.
            </p>
            <p class="cs-text">
                Whether you're dealing with back pain, neck pain, headaches, or other musculoskeletal issues, we have the expertise and technology to help you find relief. Our services include chiropractic adjustments, spinal decompression therapy, physical therapy, class IV laser therapy, and more.
            </p>
            
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/accidents-and-injuries/" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="/assets/images/accident2.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/accident2.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/accident2.jpg" alt="car accident treatments at Kaesberg Chiropractic" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3">Accidents & Injuries</h3>
                    <p class="cs-item-text">
                        If you've been injured in a car accident or suffered a slip-and-fall or sports injury, turn to our doctors for relief from the pain.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/spinal-decompression/" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy3.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy3.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy3.jpg" alt="therapy" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3">Spinal Decompression</h3>
                    <p class="cs-item-text">
                        Spinal decompression has been proven to be a safe, effective therapy option for spinal compression and herniated discs.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/physical-therapy/" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy4.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy4.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy4.jpg" alt="therapy" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3">Physical Therapy</h3>
                    <p class="cs-item-text">
                        Naturally improve your mobility and ease your aches and pains with physical therapy at Kaesberg Chiropractic Clinic PC!
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/class-iv-laser-therapy/" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy5.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy5.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy5.jpg" alt="therapy" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3">Class IV Laser Therapy</h3>
                    <p class="cs-item-text">
                        This state-of-the-art option uses the latest in laser light therapy technology to stimulate the healing process in your cells.
                    </p>
                </a>
            </li>
        </ul>
    </div>
</section>
                                

<!-- ============================================ -->
<!--            Side By Side Reverse              -->
<!-- ============================================ -->

<section id="sbs-r-869">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Right Image-->
            <picture class="cs-right-img">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy.jpg" alt="therapy" width="439" height="560">
            </picture>
            <!--Left Image-->
            <picture class="cs-left-img">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy6.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy6.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy6.jpg" alt="therapy" width="439" height="560">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">TREATMENT LIST</span>
            <h2 class="cs-title">LIST OF CONDITIONS WE TREAT</h2>
            <p class="cs-text">
                We treat a wide variety of conditions at Kaesberg Chiropractic Clinic PC. If you're experiencing any of the following symptoms, contact us today to schedule your free consultation and find out how we can help you find relief.
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    Back Pain
                </li>
                <li class="cs-li">
                    Headaches
                </li>
                <li class="cs-li">
                    Muscle spasms
                </li>
                <li class="cs-li">
                    Neck pain
                </li>
                <li class="cs-li">
                    Numbness
                </li>
                <li class="cs-li">
                    Soreness or stiffness
                </li>
                <li class="cs-li">
                    Trouble sleeping
                </li>
                <li class="cs-li">
                    Bone spurs
                </li>
                <li class="cs-li">
                    Bulging discs
                </li>
                <li class="cs-li">
                    Disc protrusion
                </li>
                <li class="cs-li">
                    Herniated discs
                </li>
                <li class="cs-li">
                    Osteoarthritis
                </li>
                <li class="cs-li">
                    Carpal Tunnel Syndrome
                </li>
                <li class="cs-li">
                    Tendonitis
                </li>
                <li class="cs-li">
                    Hip and knee pain
                </li>
                <li class="cs-li">
                    Ligament sprains
                </li>
                <li class="cs-li">
                    Lower back pain
                </li>
                <li class="cs-li">
                    Peripheral Neuropathy
                </li>
            </ul>
            <a href="/locations/" class="cs-button-solid">SCHEDULE AN APPOINTMENT</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1452">
    <div class="cs-container">
        <div class="cs-content">
            <!--Yellow Quote-->
            <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/quote-yellow.svg" decoding="async" alt="quote icon" width="40" height="33" loading="lazy">
            <span class="cs-topper">TESTIMONIALS</span>
            <h2 class="cs-title">WHAT OUR CLIENTS SAY</h2>
            <p class="cs-text">
                At Kaesberg Chiropractic, we are committed to providing the highest quality care to our clients. Hear what our clients have to say about their experience with us.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <p class="cs-review">
                    I had an injury a little over 2 years ago. My daughter just recently had a car accident. My daughter was attending water therapy that was not producing any positive results. After coming here, I saw my child standing properly, moving slowly but progressing.  I made me an appointment too. I'm happy with my results as well. Oh, my mom comes now too. We are happy with our results. Thanks
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="/assets/images/woman.jpg" decoding="async" alt="woman profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        I. W.
                        <span class="cs-job">Client</span>
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <p class="cs-review">
                    Dr. Kaesberg and her team are the best! They are always friendly, they get me in quickly and I leave feeling great every time. They offer reasonable prices so I don't have to worry about insurance coverage. I'm so glad I found them.
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="/assets/images/woman.jpg" decoding="async" alt="woman profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        G. H.
                        <span class="cs-job">Client</span>
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <p class="cs-review">
                    Dr. Kendra Kaesberg has gone above and beyond! I have had chiropractic care on and off my whole life. Between sports injuries as a kid and throwing my back out as an adult. Not only does she get me walking tall after each session, she listens to me and wants me to heal all around. She introduced me to yoga that has brought more flexibility, strength and peace to my world!
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="/assets/images/woman.jpg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        X. N.
                        <span class="cs-job">Client</span>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</section>
                                
                                
    {% include 'sections/cta.html' %}
{% endblock %}
